.hero-bg {
    background-image: url('C:\Users\aades\OneDrive\Documents\sturdyMerch\assets\img\cartographer.png');
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#hoodie-image {
    position: relative;
    width: 100%;
    max-width: 400px; /* Adjust the size as needed */
    object-fit: contain;
}
