.hero-bg{
    background-image: url('assets\img\cartographer.png');
}

/* Initial state for elements with animations */
[data-animate] {
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Individual animations */
[data-animate="fade"] {
    transform: translateY(20px);
}

[data-animate="zoom"] {
    transform: scale(0.8);
}

[data-animate].visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}

